<!-- Portfolio Grid Section -->
   <section id="portfolio">
       <div class="container" id="content-section-b">
         <div class="bg-overlay2">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Portfolio</h2>
                   <hr class="star-primary">
                   <h3 class="section-subheading text-muted">An adventure in coding...</h3>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                       <%= image_tag "heroku4.jpg", class: 'img-responsive' %>
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                       <%= image_tag "html_io4.jpg", class: 'img-responsive' %>
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                       <%= image_tag "crystal4.jpg", class: 'img-responsive' %>
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                       <%= image_tag "tictac4.jpg", class: 'img-responsive' %>
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                       <%= image_tag "myfront.jpg", class: 'img-responsive' %>
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                       <div class="caption">
                           <div class="caption-content">
                               <i class="fa fa-search-plus fa-3x"></i>
                           </div>
                       </div>
                        <%= image_tag "10 copy.jpg", class: 'img-responsive' %>
                   </a>
               </div>
           </div>
             <hr class="primary">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                 <p>
                 <a href="https://github.com/shiversamar" target="_blank" class="btn btn-info btn-lg active animated infinite pulse" role="button" aria-pressed="true">FIND OUT MORE<i class="fa fa-linkedin fa-fw animated infinite pulse"></i></a></p>
             </div>
           </div>
         </div>
   </section>

   <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
          <a class="btn btn-primary" href="#page-top">
              <i class="fa fa-chevron-up"></i>
          </a>
      </div>

      <!-- Portfolio Modals -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>ACS PORTFOLIO</h2>
                              <hr class="star-primary">

                              <%= image_tag "heroku4.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "61 copy.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "62 copy.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "63 copy.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "64 copy.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "65 copy.jpg", class: 'img-responsive img-centered' %>



                              <p>This ACS Portfolio was created using jQuery, HTML, CSS and Ruby on Rails!</p>
                              <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/acs_portfolio" target="_blank"> Acsportfolio </a></p>
                              <p><strong> Live View Herokuapp.com:</strong><a href="http://shiversamar.herokuapp.com/" target="_blank">shiversamar.herokuapp.com- Acsportfolio </a></p>

                              <ul class="list-inline item-details">
                                  <li><strong>Date:</strong> January 2017</li>
                                  <li><strong>Setting:</strong> <a href="https://amarshivers.herokuapp.com" target="_blank">Personal Project</a></li>
                                  <li><strong>Category:</strong> Full Stack Development</li>
                              </ul>


                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>HTML PORTFOLIO</h2>
                              <hr class="star-primary">

                              <%= image_tag "html_io4.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "21 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "22 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "23 copy.jpg", class: 'img-responsive img-centered' %>


                              <p>This HTML Portfolio was created using  jQuery, HTML and CSS with animation and responsive website!</p>

                              <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/html_portfolio" target="_blank"> github.com/shiversamar/html_portfolio</a></p>

                              <p><strong>Live View Github.io:</strong><a href="https://shiversamar.github.io/html_portfolio/" target="_blank">html_portfolio</a></p>


                              <ul class="list-inline item-details">
                                <li><strong>Date:</strong> December 2016</li>
                                <li><strong>Setting:</strong> <a href="https://github.com/shiversamar/html_portfolio" target="_blank">Personal Project</a></li>
                                <li><strong>Category:</strong> Front End Development</li>
                              </ul>
                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>Magic Crystal Ball</h2>
                              <hr class="star-primary">
                              <%= image_tag "crystal4.jpg", class: 'img-responsive img-centered' %>

                              <%= image_tag "51 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "52 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "53 copy.jpg", class: 'img-responsive img-centered' %>

                              <p>This Magic8 Crystal Ball Game was created during a colloborative pair programming session with jQuery, HTML and CSS! Magic 8 Crystal Ball® has all the answers you need! Ask any question on any matter and you’ll get the answer.</p>

                              <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/crystal_ball_magic8_page" target="_blank"> github.com/shiversamar/crystallBall</a></p>
                              <p><strong>Live View Github.io:</strong><a href="https://shiversamar.github.io/crystal_ball_magic8_page/crystal.html" target="_blank">Magic8 Crystal Ball</a></p>


                              <ul class="list-inline item-details">
                                <li><strong>Date:</strong>February 2016</li>
                                <li><strong>Setting:</strong> <a href="https://www.learnacademy.org/jumpstart" target="_blank">Learn Academy Jumpstart</a></li>
                                <li><strong>Category:</strong>Front End Development</li>
                              </ul>


                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>Tic Tac Toe</h2>
                              <hr class="star-primary">



                              <%= image_tag "tictac4.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "41 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "42 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "43 copy.jpg", class: 'img-responsive img-centered' %>

                              <p>This Tic Tac Toe Game was created during a colloborative 1st Project / Mob programming session with jQuery, HTML and CSS! The object of Tic Tac Toe is to get three in a row. You play on a three by three game board. The first player is known as X and the second is O. Players alternate placing Xs and Os on the game board until either oppent has three in a row or all nine squares are filled.</p>
                              <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/sample_format/tree/gh-pages" target="_blank"> github.com/shiversamar/tictactoe_game</a></p>
                              <p><strong>View Live Github.io:</strong><a href="https://shiversamar.github.io/sample_format/tictactoe.html" target="_blank">Tic Tac Toe Game</a></p>





                              <ul class="list-inline item-details">
                                <li><strong>Date:</strong> October 2016</li>
                                <li><strong>Setting:</strong> <a href="https://www.learnacademy.org/days/480" target="_blank">Learn Academy Exercise</a></li>
                                <li><strong>Category:</strong>Front End Development</li>
                              </ul>




                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>My Portfolio</h2>
                              <hr class="star-primary">


                              <%= image_tag "myfront.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "1 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "2 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "3 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "4 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "5 copy.jpg", class: 'img-responsive img-centered' %>


                              <p>This My Portfolio was created using Bootstrap,HTML,Jquery,CSS and Ruby on Rails with animation, carousel, plain design background!</p>

                             <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/my_portfolio" target="_blank"> github.com/shiversamar/my_portfolio</a></p>

                             <p><strong>Live View Github Herokuapp.com:</strong><a href="https://whispering-hamlet-80388.herokuapp.com/#portfolio" target="_blank">My Portfolio</a></p>


                              <ul class="list-inline item-details">
                                <li><strong>Date:</strong>February 2017</li>
                                <li><strong>Setting:</strong> <a href="#" target="_blank">Personal Project</a></li>
                                <li><strong>Category:</strong>Full Stack Development</li>
                              </ul>
                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>BattleShip Game</h2>
                              <hr class="star-primary">


                              <%= image_tag "12 copy.jpg", class: 'img-responsive img-centered' %>
                              <%= image_tag "13 copy.jpg", class: 'img-responsive img-centered' %>

                              <p>This Battleship Game was created during a colloborative pair programming session with jQuery, HTML and CSS! Game Play: The design is fully responsive and though not finished, is one of my favorite projects. I hope to re-build it as a Rails application and be able to finish the entire game.

                              The application plays against the computer, so the code generates a random placement for all the ships. The finished project is supposed to lay out 2 five block ships, 2 four block ships, 2 three block ships, 2 two block ships, and 1 one block ship. Each type of multi-block ships is supposed to have one horizontal and one vertical.

                              We are ended on Second Epic, As a user I can see how many torpedoes I have left instead of how many I have used...</p>
                              <p><strong>Github Repo:</strong><a href="https://github.com/shiversamar/battle_ship_game_page" target="_blank"> github.com/shiversamar/battleship11_game</a></p>
                              <p><strong>View Live Github.io:</strong><a href="https://shiversamar.github.io/battle_ship_game_page/battleship.html" target="_blank">BattleShip Game</a></p>





                              <ul class="list-inline item-details">
                                  <li><strong>Date:</strong> October 2016</li>
                                  <li><strong>Setting:</strong> <a href="https://www.learnacademy.org/days/478" target="_blank">Learn Academy Exercise</a></li>
                                  <li><strong>Category:</strong> Full Stack Development</li>
                              </ul>





                              <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
